# Puliamo sti cazzo di dati definitivamente

Per prima cosa importiamo le posizioni x e y di questi dati

In [2]:
import matplotlib.pyplot as plt
import  numpy as np
import pandas as pd

plt.style.use("seaborn-v0_8-darkgrid")

In [3]:
zero_spettrofotometro = pd.read_csv("Zero_Vetrini.csv") # micrometers
zero_depositore = 1.6e-2 # meter
posizione_vetrini = pd.read_csv("Posizioni_Vetrini.csv") # micrometers

In [4]:
zero_spettrofotometro

               dir  x_pos  y_pos
0    /data/21_04_I  -7530  41000
1   /data/02_05_II   8500  63000
2  /data/02_05_III  12700  57150
3   /data/28_04_IV  -2333  46831

In [5]:
posizione_vetrini

                  file   x_pos   y_pos
0     /data/21_04_I/M1   -7322   34334
1     /data/21_04_I/M2   -7090   27553
2     /data/21_04_I/M3   -6866   20749
3     /data/21_04_I/M4   -6634   14400
4     /data/21_04_I/M5   -6380    7882
5     /data/21_04_I/M6   -6112    1142
6     /data/21_04_I/M7   -5576   -5309
7     /data/21_04_I/M8   -4836  -12138
8    /data/28_04_IV/M1   -3973   36559
9    /data/28_04_IV/M2   -3970   26453
10   /data/28_04_IV/M3   -4204    4431
11   /data/28_04_IV/M4    7651  -15741
12   /data/02_05_II/M1    9085   59589
13   /data/02_05_II/M2    9416   50198
14   /data/02_05_II/M3   11147   -4033
15   /data/02_05_II/M4   11087   -1084
16  /data/02_05_III/M1   -1838  -12385
17  /data/02_05_III/M2   -6565   52867
18  /data/02_05_III/M3   -2046  -10598
19  /data/02_05_III/M4   -6046   46601

Ã¨ necessario calcolare la distanza di queste misure rispetto allo zero del vetrino... possiamo usare la metrica euclidea

In [6]:
def distance(x_1, y_1, x_2, y_2):
    return np.sqrt(
        (x_1- x_2)**2 + (y_1 - y_2)**2 
    )

Ora passiamo intelligentemente i parametri a distance... Dobbiamo metterli in un file finale ricordiamo a cui poi aggiungeremo i parametri delle due gaussiane in un modo furbo.

In [7]:
vetrino_1 = distance(
    posizione_vetrini.iloc[0:8][" x_pos"],
    posizione_vetrini.iloc[0:8][" y_pos"],
    zero_spettrofotometro["x_pos"].loc[0],
    zero_spettrofotometro["y_pos"].loc[0],
)
vetrino_1

0     6669.244335
1    13454.196706
2    20261.882859
3    26615.086248
4    33137.960468
5    39883.215618
6    46350.206008
7    53206.246626
dtype: float64

In [8]:
vetrino_2 = distance(
    posizione_vetrini.iloc[8:12][" x_pos"],
    posizione_vetrini.iloc[8:12][" y_pos"],
    zero_spettrofotometro["x_pos"].loc[3],
    zero_spettrofotometro["y_pos"].loc[3],
)
vetrino_2

8     10402.095174
9     20443.645785
10    42441.261068
11    63363.518210
dtype: float64

In [9]:
vetrino_3 = distance(
    posizione_vetrini.iloc[12:16][" x_pos"],
    posizione_vetrini.iloc[12:16][" y_pos"],
    zero_spettrofotometro["x_pos"].loc[1],
    zero_spettrofotometro["y_pos"].loc[1],
)
vetrino_3

12     3460.801352
13    12834.728669
14    67085.242028
15    64136.195904
dtype: float64

In [10]:
vetrino_4 = distance(
    posizione_vetrini.iloc[16:20][" x_pos"],
    posizione_vetrini.iloc[16:20][" y_pos"],
    zero_spettrofotometro["x_pos"].loc[2],
    zero_spettrofotometro["y_pos"].loc[2],
)
vetrino_4

16    71038.508353
17    19735.356951
18    69334.234113
19    21510.321174
dtype: float64

Ora che ho calcolato tutte le distanze, le converto da micrometri, in metri, perchÃ© SI

In [11]:
vetrino_1*=1e-6
vetrino_2*=1e-6
vetrino_3*=1e-6
vetrino_4*=1e-6

vetrino_1

0    0.006669
1    0.013454
2    0.020262
3    0.026615
4    0.033138
5    0.039883
6    0.046350
7    0.053206
dtype: float64

Aggiungo alle posizioni lo zero del depositore, in questo modo posso usare queste grandezze per il plot

In [12]:
vetrino_1+=zero_depositore
vetrino_2+=zero_depositore
vetrino_3+=zero_depositore
vetrino_4+=zero_depositore

In [13]:
vetrino_1

0    0.022669
1    0.029454
2    0.036262
3    0.042615
4    0.049138
5    0.055883
6    0.062350
7    0.069206
dtype: float64

In [14]:
vetrino_2

8     0.026402
9     0.036444
10    0.058441
11    0.079364
dtype: float64

In [15]:
vetrino_3

12    0.019461
13    0.028835
14    0.083085
15    0.080136
dtype: float64

In [16]:
vetrino_4

16    0.087039
17    0.035735
18    0.085334
19    0.037510
dtype: float64

In [17]:
def cosine_law(x_pos, prop_const, pow, distance=12e-2):
    theta = np.arctan2(x_pos, distance)
    return prop_const * np.cos(theta) ** pow / distance**2

In [19]:
pd.concat(vetrino_1, vetrino_2, vetrino_3, vetrino_4)

/tmp/ipykernel_1258/770033093.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd.concat(vetrino_1, vetrino_2, vetrino_3, vetrino_4)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"